.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  display: block;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

main {
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.carter-wrapper,
.reagan-wrapper {
  width: 30%;

  height: 100vh;
  position: relative;
}
.carter-face {
  background-image: url(./images/carterFace.png);
}
.carter-mouth {
  background-image: url(./images/carterMouth.png);
}
.reagan-face {
  background-image: url(./images/reaganFace.png);
}
.reagan-mouth {
  background-image: url(./images/reaganMouth.png);
}

.carter-face,
.carter-mouth,
.reagan-face,
.reagan-mouth {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 300px;
  width: 100%;
}
